@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/1ptxg8zys_skggpn4iegvnhyvvelxvtaorciprq.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/1ptxg8zys_skggpn4iegvnhyvvelxvueorciprq.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/1ptxg8zys_skggpn4iegvnhyvvelxvvaorciprq.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/1ptxg8zys_skggpn4iegvnhyvvelxvvoorciprq.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/1ptxg8zys_skggpn4iegvnhyvvelxvsepbciprq.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/1ptxg8zys_skggpn4iegvnhyvvelxvs9pbciprq.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/1ptxg8zys_skggpn4iegvnhyvvelxvtapbciprq.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/1ptxg8zys_skggpn4iegvnhyvvelxvtzpbciprq.ttf) format('truetype');
}
