<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="tool/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="tool/donghua2.css"/>
	<script src="tool/JQuery/jquery-1.11.3.js" type="text/javascript" charset="utf-8"></script>
	<script src="tool/vue.js" type="text/javascript" charset="utf-8"></script>
	<title>实验报告，课程设计分享</title>
	<style type="text/css">
		*{
			text-align: center;
		}
		div.tuiguang{
			position: fixed;
			left: 0;
			top: 40%;
			z-index: 99;
		}
		div.tuiguang a,img{
			width: 100%;
			z-index: 100;
		}
	</style>
</head>
<body>
	<div class="tuiguang">
		<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=14978435&site=qq&menu=yes">
			<img border="0" src="http://wpa.qq.com/pa?p=2:14978435:53" alt="点击这里给我发消息" title="点击这里给我发消息"/>
		</a>
		<p class="text-center" onclick="$('div.tuiguang').hide()">隐藏</p>
	</div>
	<div class="">
		<h2 class="text-center text-success">计算机科学学院-软件协会</h2>
		<h3 class="text-center text-info">实验报告，课程设计分享</h3>
		<p class="text-center">实验报告都是自己积累下来的，<span style="color: red;">仅供学习，参考</span>。</p>
		<p class="text-center">你抄别人可能也抄，代码资源自己看看，多动手</p>
		<p class="text-center text-success">如果有未分享的报告可以发给我免费解答</p>
		<p class="text-center">		
			<span style="color: orasngered;">持续更新中~</span> QQ:14978435
		</p>		
	</div>
	<div class="col-xs-3">
		最近更新
	</div>
	<div class="col-xs-9">
		<marquee behavior="scroll" height="20" direction="left" id="news" scrollamount="8">
			<p>{{word}}</p>
		</marquee>
	</div>
	<div class="col-xs-8">
		<div class="input-group">
			<div class="input-group-addon">筛选课程</div>
			<select class="form-control" id="cname">
				<option value ="0" selected="selected">所有课程</option>
				<option v-for="o of cnames" :value="o">{{o}}</option>
			</select>
		</div>		
	</div>
	<div class="col-xs-4">
		当前报告数<br>
		<span id="nums" style="color: blue;font-size: 1.2em;"></span>
	</div>
	<table class="table table-bordered table-striped  animate__animated animate__zoomIn">
		<tbody v-for="(o,i) of data">
			<tr>
				<td colspan="4"></td>
			</tr>
			<tr>
				<th colspan="2">课程名</th>
				<th colspan="2">实验题目</th>
			</tr>
			<tr>
				<td colspan="2" style="color: red;font-size: 1.2em;">{{o.cname}}</td>
				<td colspan="2">{{o.title}}</td>
			</tr>
			<tr>
				<th class="col-xs-2">学院</th>
				<th class="col-xs-2">老师</th>
				<th class="col-xs-3">类型</th>
				<th class="col-xs-5">操作</th>
			</tr>
			<tr>
				<td>{{o.grade}}</td>
				<td>{{o.teacher}}</td>
				<td>{{o.type}}</td>
				<td>
					<a target="_blank" :href="'works/'+o.fname" class="btn btn-success">报告</a>
					<a target="_self" :href="'code/'+o.fname+'.zip'" class="btn btn-info">资源</a>
				</td>
			</tr>
			
		</tbody>
	</table>
	
	
	<script type="text/javascript">
		var vue1;
		$(function(){
			$.getJSON('data/config.json',(data)=>{
				new Vue({
					el:'#news',
					data:{
						news:data.news
					},
					computed:{
						word:function(){
							return this.news.join(' --- ');
						}
					}
				})
			})
			
			$.getJSON('data/data.json',(data)=>{
				$('#nums').text(data.length);
				console.log(data);
				
				var cnames=[];
				for(var o of data){
					if(cnames.indexOf(o.cname) == -1){
						cnames.push(o.cname);
					}
				}
				console.log(cnames.join(' , '));
				new Vue({
					el:'#cname',
					data:{
						cnames
					}
				})
				
				vue1 = new Vue({
					el:'table',
					data:{
						data,
						b:data
					},
					mounted: () => {
						$('#cname').on('change',function(){
							var cname = $(this).val();
							console.log(cname);
							if(cname==0){
								vue1.data=vue1.b;
								return;
							}else{
								var arr = [];
								for(var o of vue1.b){
									if(o.cname==cname){
										arr.push(o);
										vue1.data=arr;
									}
								}
							}
						})
					}
				})
			})
		})
		
		
		
	</script>
</body>
</html>